<h1>Task List Lab 12 Assel Y.</h1>
Create Task List:
<div>
  <input type="text" [(ngModel)]="name" />
  <button (click)="createTaskList()">Create</button>
</div>

Task List
<ng-container *ngIf="!loading">
  Loading...
</ng-container>

<ng-container *ngIf="loading">
  <div>
    <div *ngFor="let l of tasklists">
      <span (click)="getTasks(l)">
        <input type="text" [(ngModel)]="l.name" />
      </span>
      <button style="color: red" (click)="deleteTaskList(l)"> Удалить</button>
      <button style="color: green" (click)="updateTaskList(l)"> Изменить</button>
    </div>
  </div>
</ng-container>

<br/>
Tasks

<ng-container *ngIf="!loading">
  Loading...
</ng-container>

<ng-container *ngIf="loading">
  <div>
    <div *ngFor="let t of tasks">
        {{t.id}}<span (click)="getTask(t)"><input type="text" [(ngModel)]="t.name" /></span><input type="text" [(ngModel)]="t.status" />
      <button style="color: red" (click)="deleteTask(t)"> Удалить</button>
      <button style="color: green" (click)="updateTask(t)"> Изменить</button>
    </div>
  </div>
</ng-container>
Create Task For This Task List:
<div>
  <input type="text" [(ngModel)]="name" />
  <button (click)="createTask()">Create</button>
</div>



